.container {
    margin: 0px auto;
}

#search {
    color: rgb(0, 180, 180);
    background-color: white;
    border: 2px solid;
    border-radius: 15px;
    border-color: rgb(0, 180, 180);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 125px;
    margin: 5px 35px;
    padding: 2.5px;
}

#plus {
    color: white;
    background-color: rgb(0, 180, 180);
    font-style: bold;
    font-size: large;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px 35px;
    padding: 2.5px;
}

#create_account {
    color: white;
    background-color: rgb(43, 120, 228);
    box-shadow: 3px 5px 1px black;
    width: 200px;
    height: 30px;
    margin: 5px 35px;
    padding: 2.5px;
}