.container {
    background-color: rgb(225, 225, 225);
    width: 620px;
    height: 570px;
    margin: 0px auto;
    padding: 5px;
}

.special_forces {
    background-color: rgb(187, 14, 14);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.daft_punk {
    background-color: rgb(225, 212, 20);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.movies {
    background-color: rgb(8, 151, 163);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.characters {
    width: 150px;
    height: 150px;
    margin: 10px;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight: lighter;
}

#source {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}