* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.divstyle {
    box-shadow: 0px 2px 2px 3px lightgray;
}

/* navbar start */
.nav-bar {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    margin-bottom: 3%;
}

.nav-title {
    margin-left: 12.25%;
}

.nav-elements {
    width: 50%;
    margin-left: 8.8%;
    font-size: 16px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.btn {
    width: 100px;
    height: 35px;
    font-size: 18px;
    background-color: rgb(23, 162, 184);
    color: white;
    border: none;
    margin-right: 12.5%;
}

/* navbar end */
.container {
    margin: 3%;
}

.row {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

/* usercard start */
.user-card {
    width: 50%;
    height: fit-content;

}

#cover {
    height: 100px;
    width: 100%;
    background-color: #17a2b8;
}

.profilepicture {
    width: 100px;
    height: 100px;
    border: 4px solid lightgray;
    border-radius: 100%;
}

.details {
    position: relative;
    bottom: 50px;
    left: 25px;
}

.logonamecontainer {
    flex-direction: row;
    font-size: 20px;
}

.logo {
    height: 20px;
    width: 15px;
    margin-right: 2%;
}

.description {
    font-size: 20px;
}

/* usercard end */

/* education start */
.education {
    width: 50%;
    margin-top: 3%;
    height: fit-content;
    align-items: start;
}

.edutitle {
}

.education-details {
    margin: 0% 0% 3% 3%;
    font-size: 15px;
    color: white;
}

/* education end */

/* requests and my connections */
.connection-requests {
    width: 30%;
    height: fit-content;
}

.c_number {
    width: 25px;
    height: 25px;
}

.c_number2 {
    width: 70px;
    height: 35px;
}

.c_bgbrjcc {
    background-color: grey;
    border-radius: 100%;
    justify-content: center;
}

.your-connections {
    width: 30%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    bottom: 140px;
}

.divtitle {
    background-color: rgb(51, 51, 51);
    color: white;
}

.title {
    color: white;
    width: max-content;
    height: max-content;
    background-color: rgb(51, 51, 51);
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100%;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-content {
    justify-content: space-between;
}

.p-1 {
    padding: 10px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-left {
    margin-left: 8px;
}

.margin-updown {
    margin: 2%;
}

span {
    display: block;
}

.abox {
    box-shadow: 0px 2px 2px 3px lightgray;
}