* {
    margin: 0;
    padding: 0;
}

.post {
    border: 2px solid black;
    padding: 2%;
    margin: 2%;
    width: 60%;
    height: 80px;
}

.posthead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

button {
    width: 80px;
}

.d-flex {
    display: flex;
}