h1 {
    background-color: black;
    color: white;
}

span{
    color: rgb(0, 255, 255);
}

h2{
    background-color: rgb(102, 51, 153);
    color: white;
    text-align: center;
    font-style: italic;
}

h3{
    background-color: rgb(159, 197, 248);
    color: rgb(32, 18, 77);
    text-align: right;
    text-decoration: underline;
}