body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: rgb(51, 51, 51);
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
    width: 1000px;
    justify-content: space-between;
}

.nav-title {
    margin: 20px;
}

.nav-links {
    width: 50%;
    font-size: 16px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
}

.btn {
    width: 100px;
    height: 35px;
    font-size: 18px;
    background-color: rgb(23, 162, 184);
    color: white;
    border: none;
    box-shadow: 5px 5px black;
}